<nav class="navbar navbar-light bg-light justify-content-between mt-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="orderDate()">Orden por fecha</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="orderPrice()">Orden por precio</a>
        </li>
    </ul>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" [(ngModel)]="filterSearch" name="search" placeholder="Search"
            aria-label="Search"> </form>
</nav>
<div class="row" *ngIf="eventos && eventos.length">
    <app-event-item 
        class="col-6 mt-4" 
        [evento]="evento"
        (eventDeleted)="deleteEvent(evento)"
        *ngFor="let evento of eventos | eventFilter:filterSearch">
    </app-event-item>
</div>
<h3 *ngIf="!eventos || eventos.length == 0">No hay eventos disponibles</h3>