<div class="card">
    <a [routerLink]="['/events/', evento.id ]"><img class="card-img-top" [src]="evento.image" [alt]="evento.description"></a>
    <div class="card-body">
        <h4 class="card-title">{{ evento.title | titlecase }}</h4>
        <p class="card-text">{{ evento.description }}</p>
        <button 
            class="btn btn-danger ml-3 float-right" 
            (click)="deleteEvent()">Delete</button>
    </div>
    <div class="card-footer text-muted"> {{ evento.date | date:'dd/MM/y' }} <span
            class="float-right">{{ evento.price | currency:'EUR':'symbol' }}</span>
    </div>
</div>

